.main{
  &__table {
    padding:0 10px;

    &__checked{
      color: #0BA2D6;
    }

    &__tabs {
      display: flex;
      border-bottom: 1px solid #ccc;
      flex-wrap: wrap;

      &__button {
        padding: 12px;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        background: #333;
        color: white;
        border: none;
        transition: background 0.3s;
        border-right:1px solid white;



      }

      &--active {
        background: #3498db;
      }
    }


    &--active {
      display: block !important;
    }


    &__content {
      display: none;
      border: 1px solid #ccc;
      padding: 0 10px;
      &__button{
        background-color: #0BA2D6;
        border: none;
        padding: 5px;
        margin: 10px 5px;


      }
      &__link{
        text-decoration: none;
        color: white;
        padding: 20px;

      }
      &__container{
        display: flex;
        flex-direction: column;
      }
      &__input{
        width: 80%;
        max-width: 300px;
        margin: 10px 0;
        padding: 10px;

      }
      &__textarea{
        width: 80%;
        max-width: 500px;
        height: 130px;
        resize: none;
        padding: 5px;
        margin-bottom: 10px;
      }

      &__info{
        display: flex;



        &__left,&__right{
          padding: 20px;
          width: 50%;

          color: rgba(0,0,0,0.6);

        }
      }
    }
  }
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation:loading 1.5s infinite ease-in-out;
  border-radius: 4px;
  &--text {
    height: 18px;
    margin: 10px 0;
  }}

