<div class="bottom-container" *ngIf="footerData?.footer?.length">
  <div class="bottom-container__footer">
    <div class="bottom-container__footer__content" *ngFor="let section of footerData.footer">
      <h5 class="bottom-container__footer__title">{{ section.title }}</h5>
      <p class="bottom-container__footer__text" *ngFor="let item of section.items">{{ item }}</p>
    </div>
  </div>
  <div class="bottom-container__copyright">
    <p class="bottom-container__copyright__text">
      {{ footerData.copyright.text }}
      <a [href]="footerData.copyright.href">{{ footerData.copyright.link }}</a>
    </p>
  </div>
</div>
