<button
  class="container__side__menu__button"
  [ngClass]="{ 'container__side__menu__button--deactivate-button': !isActive }"
  (click)="toggle()"
  >
  <p class="container__side__menu__text">{{ accordion?.name }}</p>
  <p class="container__side__menu__text" *ngIf="accordion.children?.length">
   +
  </p>
</button>
<ng-container *ngIf="accordion?.children?.length && expanded">
  <ng-container *ngFor="let child of accordion?.children">
    <app-accordion
      [accordion]="child"
      [isActive]="isActive"
    ></app-accordion>
  </ng-container>
</ng-container>
