<div class="slider-brand">
  <div class="slider-brand__box"></div>

  <button class="slider-brand__controls slider-brand__controls--left" (click)="scroll('left')">
    &lt;
  </button>

  <div #sliderContainer class="slider-brand__container">
    <img *ngFor="let brand of brandImages" class="slider-brand__img" [src]="brand.src" alt="Brand" />
  </div>

  <div class="slider-brand__box"></div>

  <button class="slider-brand__controls slider-brand__controls--right" (click)="scroll('right')">
    &gt;
  </button>
</div>
