.no-products {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px dashed #ced4da;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: #495057;
  font-family: Arial, sans-serif;
}
