<form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()" class="main__right__newsletter">
  <p>
    <i class="fa-solid fa-envelope"></i>
    prijavi se na newsletter
  </p>

  <input
    class="main__right__newsletter__input"
    type="text"
    formControlName="fullName"
    placeholder="Ime i prezime">

  <input
    class="main__right__newsletter__input"
    type="email"
    formControlName="email"
    placeholder="Email">

  <button
    class="main__right__button-blue"
    type="submit"
    [disabled]="newsletterForm.invalid">
    Prijavi se
  </button>

  <div *ngIf="successMessage" class="success-msg">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>
</form>
