<div class="container__products__bar__card" >

  <div class="container__products__bar__img-wrapper">
    <img [src]="product.imageUrl" alt="" class="container__products__bar__img">
    <div class="container__products__bar__badge">{{product.param}}</div>
  </div>
  <h5 class="container__products__bar__name">{{product.name}}</h5>

  <span class="container__products__bar__timer">10d 6h 15m 10s</span>


  <div class="bar__price">
    <span class="container__products__bar__price bar__price--old">150</span>
    <span class="container__products__bar__price bar__price--new">90</span>
  </div>
</div>
