<div class="container__products__bar__card" >

  <div class="container__products__bar__img-wrapper">
    <img [src]="product.picture.url" alt="" class="container__products__bar__img">
    <div *ngIf="product.discount" class="container__products__bar__badge">{{product.discount}}%</div>
  </div>
  <h5 class="container__products__bar__name">{{product.name}}</h5>

  <span class="container__products__bar__timer">10d 6h 15m 10s</span>


  <div class="bar__price">
  <span
    class="container__products__bar__price bar__price--old">
    {{ product.price}} $
  </span>

    <span class="container__products__bar__price bar__price--new">
    {{ (product.discount > 0 ? (product.price * (1 - product.discount / 100)) : product.price)}}$
  </span>
  </div>

</div>
