

<div class="page-navigation">
  <span class="page-navigation__text">Naslovna /</span><span class="page-navigation__text">Proizvodi /</span><span class="page-navigation__text">grupa robe</span>
</div>


<div class="main">
  <div class="main__left">
    <div class="main__left__content">
      <div class="main__left__content__slider" id="slider">
      <app-product-slider-skeleton></app-product-slider-skeleton>
      </div>

      <div class="main__left__description" id="description">
        <app-product-description-skeleton></app-product-description-skeleton>
      </div>

    </div>
    <div id="table">
      tabela
    </div>

    <div class="main__left__similar">
      <span class="main__left__similar__text">Slični proizvodi</span>
      <div class="main__left__similar__line"></div>
    </div>
    <div class="container__products__discounts">
      <div class="container__products__bar" id="discounts-bar">
        //proizvodi
      </div>
    </div>
  </div>

  <div class="main__right" id="right-sidebar">
    <app-product-side></app-product-side>

  </div>



</div>

