

<div class="page-navigation">
  <span class="page-navigation__text">Naslovna /</span><span class="page-navigation__text">Proizvodi /</span><span class="page-navigation__text">grupa robe</span>
</div>


<div class="main">
  <div class="main__left">
    <div class="glavni">
      <div class="slider" id="slider">
        <app-product-slider-skeleton *ngIf="!loading"></app-product-slider-skeleton>
        <app-product-slider *ngIf="productData" [pictures]="productData.picture"></app-product-slider>
      </div>

      <div class="main__left__description" id="description">
        <app-product-description-skeleton *ngIf="!loading"></app-product-description-skeleton>
      <app-product-description *ngIf="productDescription && productData" [productData]="productData"
    [productDescription]="productDescription"
></app-product-description>

      </div>

    </div>
    <div id="table">
<app-product-table *ngIf="productDescription" [productDescription]="productDescription"></app-product-table>
    </div>

    <div class="main__left__similar">
      <span class="main__left__similar__text">Slični proizvodi</span>
      <div class="main__left__similar__line"></div>
    </div>
    <div class="container__products__discounts">
      <div class="container__products__bar" id="discounts-bar">
        //proizvodi
      </div>
    </div>
  </div>

  <div class="main__right" id="right-sidebar">

    <app-side-bar></app-side-bar>

  </div>



</div>

