<button
  class="container__side__menu__button"
  [ngClass]="{ 'container__side__menu__button--deactivate-button': !isActive }"
  (click)="toggle(node.name)">
  <p class="container__side__menu__text">{{ node.name }}</p>
  <p class="container__side__menu__text" *ngIf="node.children?.length">+</p>
</button>

<ng-container *ngIf="node.children?.length && expandedCategories[node.name]">
  <ng-container *ngFor="let child of node.children">
    <app-accordion
      [node]="child"
      [isActive]="isActive"
      [expandedCategories]="expandedCategories"
      class="container__side__menu__button container__side__menu__button--subcategory"
    ></app-accordion>
  </ng-container>
</ng-container>
