<div class="container__products__shape">
  <div class="container__products__shape__trapezoid container__products__shape__trapezoid--{{ section?.color || '' }}">
    <p class="container__products__shape__text">
      <i class="{{ section?.icon}}"></i>{{ section?.name }}
    </p>
  </div>
</div>


<div class="container__products__bar">
  <div class="container__products__bar__discounts">

    <ng-container *ngIf="loader && !section?.loaded">
      <app-skeleton-card [limit]="limit"></app-skeleton-card>
    </ng-container>

    <ng-container *ngIf="!section?.cards?.length && section?.loaded">
    <app-no-products [sectionName]="section.name"></app-no-products>
    </ng-container>

    <ng-container *ngIf="section?.cards?.length && section?.loaded">
      <app-card
        *ngFor="let card of section.cards"
        [product]="card"
      ></app-card>
    </ng-container>

  </div>

  <button
    *ngIf="section?.cards?.length && section?.loaded"
    class="container__products__discounts__button container__products__discounts__button--{{ section?.color}}"
  >
    Pogledajte sve proizvode iz {{ section.name}}
  </button>
</div>
