
  <div class="slider__container" id="slider-container">
    <img class="slider__img" [src]="pictures[activeIndex].url" alt="Main image" />
  </div>

  <div class="slider__pager">
    <button class="slider__controls" (click)="prev()">❮</button>
    <div class="slider__pager">
      <div id="bx-pager" class="slider__pager__container">
        <img
          *ngFor="let img of pictures; let i = index"
          [class.slider__thumbnail--active]="i === activeIndex"
          class="slider__thumbnail"
          [src]="img.url"
          alt="Thumbnail"
          (click)="setActive(i)"
        />
      </div>
    </div>
    <button class="slider__controls" (click)="next()">❯</button>
  </div>

